/.docker/local/mysql/data
/vendor
/public/*
!/public/.gitkeep
!/public/.htaccess
/bootstrap/app
/bootstrap/vendor
.DS_Store
/node_modules
access.log
error.log
/theme/dist
composer.lock

/plugins/*
!/plugins/load.php

/storage/cache/*
!/storage/cache/.gitkeep
/storage/plugins/*
!/storage/plugins/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep

/yarn.lock
.idea
