/.docker/local/mysql/data
/vendor
/public/*
!/public/.gitkeep
!/public/.htaccess
.DS_Store
/node_modules
access.log
error.log
.env
/theme/dist

/plugins/*
!/plugins/load.php

/storage/cache/*
!/storage/cache/.gitkeep
/storage/plugins/*
!/storage/plugins/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
